<!DOCTYPE html>
<html>
<head>
  <title>BirdBrain</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header><a href='/'>Bird Brain</a>
</header>
<nav class="nav">
<%= link_to 'Tweets', tweets_path %>
<%= link_to 'Create New Tweet', new_tweet_path %>
</nav>
<%= yield %>

</body>
</html>
